<h1>Songs</h1>

<ul>
<% @songs.each do |song| %>
   <p> <%= link_to song.title, song%> 
    <%if song.artist%>
        by <%= song.artist %></p>
    <% end %>
<%end%>
</ul>

<%= link_to 'New Song', new_song_path %>
<br>
<%= form_tag '/songs', method: :get %>
<%= label_tag 'Search by genre'%>
<%= text_field_tag 'search'  %>
<%= submit_tag 'Search'%>
