<h1><%= @song.title%></h1>

<p>
    Artist: <%= @song.artist %>
    <br>
    Genre: <%= @song.genre %>
    <br>
    Album: <%= @song.album %>
    <br>
    <%#binding.pry%>
    Link: <%= link_to @song.web_address, @song.web_address if @song.web_address%>
    <br>
    <br>
    Playlist: <%= link_to @song.playlist.title, playlist_path(@song.playlist) if @song.playlist%>
</p>
<br>
<%= link_to 'Edit Song', edit_song_path %>
<br>
<%= link_to 'Delete Song', song_path(@song), method: 'delete' %>