<h1>Edit Playlist</h1>

<% if !@playlist %>

    <h3>Sorry, you do not have access to this action.</h3>

<% else %>
    <%= form_for @playlist do |f| %>

        <%if @playlist.errors%>
            <% @playlist.errors.full_messages.each do |full_message|%>
                <%= full_message %>
            <%end%>
        <%end%>
    <br>

        <%= f.label :title %>
        <%= f.text_field :title %>
        <br>
        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.submit%>
    <% end %>

<% end %>