<h1><%= @playlist.title %></h1>
<h4><%= @playlist.description %></h4>

<p>
    <% @playlist.songs.each do |song| %>
        <%= link_to song.title, playlist_song_path(@playlist, song) %>
        <br>
    <% end %>
</p>
<br>
<%= link_to 'Edit Playlist', edit_playlist_path %>
<br>
<%= link_to 'Add Song', new_playlist_song_path(@playlist) %>
<br>
<%= link_to 'Delete Playlist', playlist_path(@playlist), method:'delete' %>